*, body{
        cursor: crosshair;}

h1{
  font-family: "century gothic";
   font-size: 5em;}

body {margin: 0;
padding: 0;
  background:url("source.gif") no-repeat:
         background-size: cover;
         background-position: center;
}
#register { /* this is the ENTER stripp*/
        margin-top: 1em;
        background:purple;
        color:white;
        border:0;
        height:1.6em;
        width:100%;
        text-align: center;
        font-family:amatic SC;
        font-size:4.5em;
        opacity: .5;
        transition: 3s;
}
 #namebtn:hover {
         
         border: 5px solid #fff;
         transition: 3s;
}
 #namebtn:focus {
         outline:0px;
}
#msgCenter
        width:100%;
        color:red;
        font-family: arial;
        font-size: .5em;
        margin: 1em 0 0 0;
        padding:0;
}
#namebtn{
        background: purple;
        color: #eee;
        font-family: princess sofia;
        font-size: .8em;
        padding: 5px 25px;
        margin: 1.5em auto 0 0 0;
        border:0;
        border: 5px solid purple;
        transition: 3s;
}
 
