*, body{
        cursor: crosshair;}

h1{
  font-family: "century gothic";
   font-size: 5em;}

body {margin: 0;
padding: 0;
  background:url("source.gif") no-repeat:
         background-size: cover;
         background-position: center;
}
